*{
  box-sizing: border-box;
}
:root {
  --blue: #004567;
  --thistle: #D4C5E2;
  --green: #2a9d8f;
  --yellow: #E9C46A;
  --orange: #F4A261;
  --red: #e04d29;
}

body {
  padding: 0;
  margin: 0;
  color: #333;
  width: 100%;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  gap:20px;
}

h1{
  margin-top: 0;
}

p {
  padding: 0;
  margin: 0;
}

.form-container {
  background-color: rgb(226, 226, 226);
  color: black;
  padding: 40px 60px;
  border-radius: 10px;
  text-align: center;
  box-shadow: #666 3px 3px;
}

.task-container {
  padding: 20px 20px;
  text-align: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
}

input {
  border: 0;
  padding: 10px 20px;
  margin: 0;
  width: 100%;
  display: block;
  border-radius: 10px;
  color: #666;
  font-size: 14px;
  height: 40px;
  border: solid 1px grey;
}

input:focus-visible, select:focus-visible, .btn-add:focus-visible {
  outline: var(--orange) solid 2px;
  outline-offset: -1px;
}

.select-btn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

select {
  display: inline-block;
  border-radius: 10px;
  border: 0;
  height: 40px;
  font-size: 14px;
  color: #666;
  flex-grow: 1;
  padding: 0 20px;
  border: solid 1px grey;
}

.btn-add {
  height: 40px;
  width: 40px;
  border:0;
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--orange);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-add:hover {
  background-color: var(--red);
}

.empty {
  padding: 30px 0 0 0;
}

ul {
  padding: 20px 0 20px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  list-style: none;
  margin: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
}

li p {
  padding: 10px;
  width: 100%;
}

li button {
  font-weight: bold;
  font-size: 20px;
  color: var(--red);
  padding: 10px 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.priorities-container {
  display: none;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap:10px;
}

.priorities-container>div {
  border: 1px solid #666;
  border-radius: 10px;
  box-shadow: #666 3px 3px;
}

.priorities-container>div>h2 {
  padding: 10px 0;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  border-radius: 10px 10px 0 0;
  outline-offset: -2px;
  color: black;
}

.priorities-container>div.high-priority>h2 {
  background-color: var(--red);
}

.priorities-container>div.medium-priority>h2 {
  background-color: var(--orange);
}

.priorities-container>div.low-priority>h2 {
  background-color: var(--yellow);
}

.priorities-container>div.no-priority>h2 {
  background-color: var(--green);
}

footer {
  box-shadow: rgb(186, 186, 186) 0px 1px 10px 0px inset;
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 15px 25px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
footer a {
  color: #333;
}
